@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu {
    background-color: #041014;
    text-align: right;
}

#menu img {
    margin-left: 20px;
    margin-top: 3px;
    float: left
}

#menu h1 {
    float: left;
    display: inline-block;
    padding: 12px;
    color: #fff
}

#menu ul {
    /* max-width: 800px; */
    list-style: none;
    padding: 0;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu ul li a:hover {
    background-color: #145269b1;
}

#home {
    background-color: #1452692b;
    text-align: center;
    padding-bottom: 20px;
}

#home h2 {
    padding: 20px;
    color: #041014;
}

#sobre {
    background-color: #041014;
}

#sobre h2 {
    text-align: left;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #FFF;
}

#sobre img {
    text-align: center;
    padding: 30px;
}

.logo {
    grid-area: logo;
}

.sobre {
    grid-area: sobre;
    text-align: justify;
    color: #FFF;
    padding-right: 40px;
}

.container-sobre {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    grid-template-areas: "logo sobre";
    justify-items: stretch;
    justify-content: stretch;
}

#quem_somos {
    background-color: #1452692b;
    padding-top: 30px;
}

#quem_somos h2 {
    text-align: center;
    color: #041014
}

.perfil img {
    border-radius: 50%;
}

.perfil {
    text-align: center;
}

.container-quemsomos {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    grid-template-rows: auto;
    grid-template-areas: "perfil perfil";
    justify-items: stretch;
    padding-bottom: 40px;
}

#contato {
    background-color: #448cac;
    color: #FFF;
    text-align: center;
    padding-bottom: 30px;
}

#contato h2 {
    padding: 20px;
    color: #FFF;
    text-align: center;
}

#form {
    display: table;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    font-size: 15px;
    max-width: 500px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
}

#form label {
    text-align: left;
    margin-left: 20px;
    font-weight: bold;
}

#form input,
textarea {
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
}

#form textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}

#form h1 {
    text-align: center;
}

#centro {
    margin-top: 10%;
}

#selectvideo {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #eeeeee;
    background-position: 218px center;
    width: 300px;
    height: 30px;
    border: 1px solid black;
    text-align: left;
    padding-left: 10px;
}

#btn {
    border: 1px solid black;
    border-radius: 10px;
    width: 100px;
    margin: 10px;
    font-weight: bold;
    background-color: #041014;
    color: white;
}